<header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <img src="/vite.svg" alt="mtg_icon" width="40" height="32" class="me-2">
            <span class="fs-4">CV</span>
        </a>

        <div class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button onclick="click_articles_tab_pane()" class="nav-link active" id="articles-tab" data-bs-toggle="tab" data-bs-target="#articles-tab-pane" type="button" role="tab" aria-controls="articles-tab-pane" aria-selected="true">
                    Articles
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button onclick="click_projects_tab_pane() "class="nav-link" id="projects-tab" data-bs-toggle="tab" data-bs-target="#projects-tab-pane" type="button" role="tab" aria-controls="projects-tab-pane" aria-selected="false">
                    Projects
                </button>
              </li>
            </ul>
          </div>
        </div>
    </div>
</header>