<!DOCTYPE html>
<html lang="en">
    <head>
        @include '../layout/head.html'
    </head>
    <body>
        <div id="app" class="container py-3">
            @include '../layout/header.html'
            <main>
                <div id="app" class="container py-5">
                    <elm-projects data="@data"></elm-projects>
                </div>
            </main>
            @include '../layout/footer.html'
        </div>

        @include '../layout/b_scripts.html'
    </body>
</html>