<!DOCTYPE html>
<html lang="en">
    <head>
        @include '../layout/head.html'
    </head>
    <body>
        <div id="app" class="container py-3">
            @include '../layout/header.html'
            <main class="container py-3">
                <div id="app" class="container py-5">
                    <div id="spinner_project">
                        @include '../layout/spinner.html'
                    </div>
                    <elm-project data="@data"></elm-project>
                </div>
            </main>
            @include '../layout/footer.html'
        </div>

        @include '../layout/b_scripts.html'
    </body>
</html>