<!DOCTYPE html>
<html lang="en">
    <head>
        @include '../layout/head.html'
    </head>
    <body>
        <div id="app" class="container py-3">
            @include '../layout/header_empty.html'
            <main>
                <div id="app" class="container py-5">
                    <elm-alert></elm-alert>
                    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                        <h1 class="display-4 fw-normal">@title</h1>
                    </div>

                    <div id="spinner_article">
                        @include '../layout/spinner.html'
                    </div>
                    <elm-article-add data=""></elm-article-add>
                </div>
            </main>
            @include '../layout/footer.html'
        </div>

        @include '../layout/b_scripts.html'
    </body>
</html>