<!DOCTYPE html>
<html lang="en">
    <head>
        @include '../layout/head.html'
    </head>
    <body>
        <div id="app" class="container py-3">
            @include '../layout/header.html'
            <main>
                <div id="app" class="container py-5">
                    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                        <h1 class="display-4 fw-normal">@title</h1>
                    </div>

                    <elm-greet data="@p_data"></elm-greet>

                    <div class='text-center pb-3 mb-4 pt-3 mt-4'>
                        <h2>Top Articles</h2>
                    </div>
                    <elm-articles data="@tas_data"></elm-articles>

                    <div class='text-center pb-3 mb-4 pt-3 mt-4'>
                        <h2>Top Projects</h2>
                    </div>
                    <elm-projects data="@tps_data"></elm-projects>
                </div>
            </main>
            @include '../layout/footer.html'
        </div>

        @include '../layout/b_scripts.html'
    </body>
</html>